<h1>Minions</h1>
<ul>
    <li *ngFor="let minion of minions;">
        <div *ngIf="(minion.name).toUpperCase().startsWith(minionName.toUpperCase());">
            <h2>{{minion.name}}:</h2> 
            <b>bio:</b> {{minion.bio}} 
            <br> <b>birth:</b> {{minion.birth}} 
            <br><img src="{{minion.img}}" alt="{{minion.name}}" width="200px"> 
            <br> <b>side:</b> {{minion.side}}
            <div *ngIf="minion.side=='de los buenos'; else malo">
                <img src="assets/img/de los buenos.PNG" width="50px">
            </div>
            <ng-template #malo>
                <div>
                    <img src="assets/img/de los malos.PNG" width="50px">
                </div>
            </ng-template>
            <div *ngIf="isInFavorites(minion); else vacio">
              <img (click)="favorite(minion)" class="noRadius" src="assets/img/corazon.png" width="50px">
            </div>
            <ng-template #vacio>
              <div>
                  <img (click)="favorite(minion)" class="noRadius" src="assets/img/corazon_vacio.png" width="50px">
              </div>
          </ng-template>
        </div>
    </li>
</ul>